@charset "UTF-8";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav .menu {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 10px;
}

.topnav a.active {
  padding-top: 21px;		
  background-color: #d6d402;
  height: 80px;
  color: white;
  margin-top: 0;
}