@charset "UTF-8";

.texte {
	text-align: center;
}

.contenaire {
	background-color: #cacaca;
}	

.contenaire p{
	text-align: center;
}	

.bouton input{
	text-align: center;
	background-color: #eae901;
}