@charset "UTF-8";

.recherche {
	display: block;
	border-radius: 10px;
	background-color: #e4e4e4;
	width: 600px;
	heigth: 300px;
}

.recherche h1{
	color: white;
	text-align: center;
	background-color: #4a7eba;
	width: 100%;
	border-radius: 10px;
}

.recherche h4{
	margin-left: 25px;
}

.recherche button{
	background-color: #e2e2e2;
	margin-left: 170px;
	
}

#map_canvas {
  height: 500px;
  width: 900px;
}

