@charset "UTF-8";

.tournoisFinished {
	height: 600px;
	width: 100%;
	background-color: #e9e9e9;
	
}

.tournoisFinished h2{
	text-align: center;
}

.v {
	margin-left: 600px;
	margin-top: 50px;
	width: 150px; 
	height: 150px;
}