<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <filter>
    <filter-name>AuthenticateFilter</filter-name>
    <filter-class>fr.lanonce.filters.AuthenticateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticateFilter</filter-name>
    <url-pattern>/auth/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lan1Servlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.LanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lan1Servlet</servlet-name>
    <url-pattern>/auth/lanStep1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfilServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.ProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilServlet</servlet-name>
    <url-pattern>/auth/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateServlet</servlet-name>
    <url-pattern>/auth/create</url-pattern>
  </servlet-mapping>
</web-app>