<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <filter>
    <filter-name>AuthenticateFilter</filter-name>
    <filter-class>fr.lanonce.filters.AuthenticateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticateFilter</filter-name>
    <url-pattern>/auth/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/auth/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lan1Servlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.Lan1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lan1Servlet</servlet-name>
    <url-pattern>/auth/lanStep1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfilServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.ProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilServlet</servlet-name>
    <url-pattern>/auth/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/auth/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateServlet</servlet-name>
    <url-pattern>/auth/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactUsServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.ContactUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsServlet</servlet-name>
    <url-pattern>/auth/contactus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TournoisServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.TournoisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TournoisServlet</servlet-name>
    <url-pattern>/auth/tournois</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchLanServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.SearchLanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchLanServlet</servlet-name>
    <url-pattern>/auth/searchLan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayLanServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.DisplayLanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayLanServlet</servlet-name>
    <url-pattern>/auth/displayLan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayTournoisServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.DisplayTournoisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTournoisServlet</servlet-name>
    <url-pattern>/auth/displayTournois</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LanInCommingServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.LanInCommingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LanInCommingServlet</servlet-name>
    <url-pattern>/auth/history/lan/inComing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LanDoneServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.LanDoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LanDoneServlet</servlet-name>
    <url-pattern>/auth/history/lan/done</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TournoisHistoryServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.TournoisHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TournoisHistoryServlet</servlet-name>
    <url-pattern>/auth/history/tournois</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MailSentServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.MailSentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailSentServlet</servlet-name>
    <url-pattern>/auth/mailSent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LanCreatedServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.LanCreatedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LanCreatedServlet</servlet-name>
    <url-pattern>/auth/lanCreated</url-pattern>
  </servlet-mapping>
</web-app>