<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <filter>
    <filter-name>AuthenticateFilter</filter-name>
    <filter-class>fr.lanonce.filters.AuthenticateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticateFilter</filter-name>
    <url-pattern>/auth/*</url-pattern>
  </filter-mapping>
 
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/signInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccueilServlet</servlet-name>
    <servlet-class>fr.lanonce.servlets.AccueilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilServlet</servlet-name>
    <url-pattern>/accueilServlet</url-pattern>
  </servlet-mapping>
</web-app>